<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/HibernateDSI_DB</property>
    <!-- BD Mane -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <!-- DB Driver -->
    <property name="connection.username">postgres</property>
    <!-- DB User -->
    <property name="connection.password">password</property>
    <!-- DB Password -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <!-- DB Dialect -->
    <property name="current_session_context_class">thread</property>
    <!-- Enabled Hibernated´s automaticsession context manegement -->
    <property name="hbm2ddl.auto">create</property>
    <!-- create / create-drop / update -->
    <mapping class="Entities.usuari"/>
    <mapping class="Entities.residencia"/>
    <mapping class="Entities.localitzacio"/>
  </session-factory>
</hibernate-configuration>
